/*
IT IS STRICTLY FORBIDDEN TO COPY THIS CODE AT ANY POINT OF TIME
AUTHOR: Filip Lukeš 
YOU CAN FIND MY CONTACT AT: https://lukes07xd.github.io
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.rgbBtn .rgbBtnText {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.rgbBtn {
  width: 270px;
  font-size: 20px;
  height: 60px;
  border: none;
  outline: none;
  background: black;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
}

.rgbBtnText {
  color: white;
  font-size: 1.4em;
  background-image: none;
  font-weight: bold;
}

.rgbBtn:hover .rgbBtnText {
  background: linear-gradient(124deg,
      #dd00f3 1%,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3,

      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;
  color: #000;

  animation: glowing 20s linear infinite;
  background-size: 200%;

  opacity: 0;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}

.rgbBtn:hover .rgbBtnText {
  opacity: 1;
}

.rgbBtn:before {
  content: "";
  background: linear-gradient(90deg,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3,

      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 200%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(50% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.rgbBtn:hover:before {
  opacity: 1;
}

.rgbBtn:hover.rgbBtn:after {
  opacity: 1;
}

.rgbBtn:after {
  content: "";
  background: linear-gradient(90deg,
      #dd00f3,
      #dd00f3,
      #2b1de8,
      #1ddde8,
      #1de840,
      #e3e81d,
      #e8b71d,
      #e81d1d,
      #ff2400,

      #dd00f3,
      #dd00f3,
      #2b1de8,
      #1ddde8,
      #1de840,
      #e3e81d,
      #e8b71d,
      #e81d1d,
      #ff2400);
  position: absolute;
  top: calc(50% - 2px);
  left: -2px;
  background-size: 200%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(50% + 4px);
  animation: glowing-reverse 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 400% 0;
  }
}

@keyframes glowing-reverse {
  0% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}
/*  HTML:
<button class="rgbBtn">
        <p class="rgbBtnText">Text</p>
    </button>
*/